<section id="inicio">
  <div class="main-content">
    <span>PSICÓLOGA</span>
    <h1>Camila Barreto</h1>
    <p>
      Eu sou a Camila Barreto psicóloga (CRP: 06/195906), formada pela Universidade Paulista com experiência em
      atendimento de crianças e adolescentes, atendimento de plantão psicológico e psicoterapia com adolescentes e
      adultos. Pós-graduanda em Análise do Comportamento aplicada(ABA)
    </p>

    <a href="https://api.whatsapp.com/send?phone=5511975736860">
      <btn-primary text="Agendar Consulta"></btn-primary>
    </a>

  </div>
  <app-main-animation></app-main-animation>
</section>
