section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  position: relative;

  span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: #151717;
  }

  p::before {
    content: "";
    position: absolute;
    height: 80px;
    width: 4px;
    background-color: #5222D0;
    left: -10px;
  }
}
