<section id="servicos">
  <div class="main-content">
    <span>SERVIÇOS</span>

    <div class="content-grid">


      <div class="project-content">
        <span>Psicoterapia Infantil</span>

        <div>
          <h6>Presencial</h6>
          <h6>Online</h6>
        </div>

        <p>
          A psicoterapia infantil é um tipo de terapia especificamente para crianças. Ela se concentra em auxiliar as
          crianças a entenderem suas emoções, resolução de problemas e desenvolver habilidades para lidar com desafios.
          Os trabalho é realizado através de técnicas adaptadas à idade e ao nível de desenvolvimento da criança, como
          brincadeiras, arte e histórias, para facilitar a comunicação e o crescimento emocional.
        </p>
        <span></span>
        <p>A psicoterapia
          infantil pode abordar uma variedade de demandas, como ansiedade, depressão, problemas de comportamento,
          dificuldades na escola e trabalhar o autoconhecimento. O objetivo é sempre ter o máximo de atenção com a saúde
          mental da criança, garantindo os cuidados necessários para que a criança possa ter uma maior qualidade de
          vida. É importante que os pais estejam envolvidos no processo para apoiar o progresso de seus filhos.
        </p>
      </div>

      <div class="project-content">
        <span>Psicoterapia Adolescentes </span>

        <div>
          <h6>Presencial</h6>
          <h6>Online</h6>
        </div>

        <p>A psicoterapia com adolescentes é essencial por essa ser uma fase da vida que costuma ser bem difícil e muito
          importante no desenvolvimento como ser humano. Esse tipo de acompanhamento psicológico na adolescência ajudará
          bastante o jovem em meio às diversas mudanças pelas quais ele estará passando nessa fase de sua vida.</p>

        <p>
          Essa forma de terapia pode ajudar os adolescentes a lidar com uma variedade de questões, como ansiedade,
          depressão,
          problemas de relacionamento, conflitos familiares, questões de identidade e escolares.
        </p>

        <p>
          A psicoterapia para
          adolescentes pode ser realizada individualmente, em grupo ou em sessões familiares, dependendo das
          necessidades específicas de cada adolescente e de sua situação familiar.
        </p>
      </div>

      <div class="project-content">
        <span>Psicoterapia Mulheres Jovens e Adultas </span>

        <div>
          <h6>Presencial</h6>
          <h6>Online</h6>
        </div>

        <p>A psicoterapia é uma ferramenta valiosa que proporciona suporte emocional e promove o bem-estar psicológico
          em diversos contextos. Quando adaptada para atender especificamente às necessidades das mulheres, a
          psicoterapia torna-se uma abordagem poderosa para lidar com os desafios únicos que muitas mulheres enfrentam
          ao longo de suas vidas.
        </p>
        <p>
          As mulheres frequentemente experimentam uma variedade de pressões sociais, culturais e individuais que podem
          impactar sua saúde mental.
        </p>
      </div>

      <div class="project-content">
        <span>Orientação Parental </span>

        <div>
          <h6>Presencial</h6>
          <h6>Online</h6>
        </div>

        <p>A Orientação Parental é um recurso essencial que reconhece a complexidade intrínseca da parentalidade,
          oferecendo suporte individualizado para os pais navegarem pelas diversas questões que surgem ao longo do
          caminho da criação dos filhos.
        </p>

        <p>Com uma abordagem centrada na família, esse serviço auxilia os pais na compreensão das
          necessidades individuais de seus filhos, incentivando práticas parentais que promovam o vínculo afetivo e o
          desenvolvimento saudável.</p>
      </div>

    </div>
  </div>
</section>
