<section id="servicos">
  <div class="main-content">
    <span>SERVIÇOS</span>

    <div class="content-grid">
      <div class="project-content">
        <span>Acompanhante Terapêutica</span>

        <div>
          <h6>Presencial</h6>
          <h6>Online</h6>
        </div>

        <p>O Acompanhamento Terapêutico é um recurso que pode ser utilizado tanto em estados de crise aguda, como em
          períodos crônicos de angústia e estagnação. O trabalho clínico realizado se desenvolve através de encontros
          com o paciente, com o objetivo de facilitar seu processo terapêutico para que ele conduza sua vida com mais
          autonomia e resgate seu cotidiano.
        </p>
      </div>

      <div class="project-content">
        <span>Psicoterapia Infantil</span>

        <div>
          <h6>Presencial</h6>
          <h6>Online</h6>
        </div>

        <p>
          A psicoterapia infantil é uma forma de terapia que visa ajudar as crianças através do uso de métodos diversos,
          identificando possíveis problemas que elas possuam e buscando solucioná-los para garantir um desenvolvimento
          saudável.
          O objetivo é sempre ter o máximo de atenção com a saúde mental de uma criança, garantindo os cuidados
          necessários para que a criança possa ter uma maior qualidade de vida.
        </p>
      </div>

      <div class="project-content">
        <span>Psicoterapia Adolescentes </span>

        <div>
          <h6>Presencial</h6>
          <h6>Online</h6>
        </div>

        <p>A psicoterapia com adolescentes é essencial por essa ser uma fase da vida que costuma ser bem difícil e muito
          importante no desenvolvimento como ser humano.

          Esse tipo de acompanhamento psicológico na adolescência ajudará bastante o jovem em meio às diversas mudanças
          pelas quais ele estará passando nessa fase de sua vida.

          O controle e a compreensão dos próprios sentimentos são importantes para evitar que eles venham a tornar-se
          reféns de si mesmos e para saber lidar melhor com os conflitos que surgem na adolescência.</p>
      </div>

      <div class="project-content">
        <span>Psicoterapia Mulheres Jovens e Adultas </span>

        <div>
          <h6>Presencial</h6>
          <h6>Online</h6>
        </div>

        <p>A psicoterapia é uma ferramenta valiosa que proporciona suporte emocional e promove o bem-estar psicológico
          em diversos contextos. Quando adaptada para atender especificamente às necessidades das mulheres, a
          psicoterapia torna-se uma abordagem poderosa para lidar com os desafios únicos que muitas mulheres enfrentam
          ao longo de suas vidas.
          As mulheres frequentemente experimentam uma variedade de pressões sociais, culturais e individuais que podem
          impactar sua saúde mental.
        </p>
      </div>

      <div class="project-content">
        <span>Orientação Parental  </span>


        <div>
          <h6>Presencial</h6>
          <h6>Online</h6>
        </div>

        <p>A Orientação Parental é um serviço valioso e especializado que visa apoiar os pais em sua jornada desafiadora
          de criar e educar filhos. Este serviço concentra-se em oferecer orientação prática e emocional, capacitando os
          pais a desenvolverem habilidades parentais eficazes e promoverem um ambiente saudável para o crescimento e
          desenvolvimento de seus filhos.</p>
      </div>

    </div>
  </div>
</section>
