<section id="contatos">
  <div class="main-content">
    <span>Rede Sociais</span>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="social-media">
      <a href="mailto:seuemail@gmail.com" class="email-button">
        <span class="email-icon"><i class="fa fa-envelope"></i></span>
      </a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-whatsapp"></a>
    </div>
  </div>
</section>
