
section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 80px;

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .social-media {
    display: flex;
    gap: 12px;
    padding-bottom: 12px;
  }

  span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: #151717;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
  }

 .fa-envelope{
   background: #125688;
   color: white;
 }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-whatsapp {
    background-color:#25d366;
    color:#FFF;
  }
}

@media (min-width: 1080px) {
  section {
    flex-direction: row;
    justify-content: space-between;

    .main-content {
      align-items: flex-start;
      max-width: 100%;
    }

    .social-media {
      display: flex;
      gap: 12px;
    }
  }
}
